<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <style>
        .website-promo {
            background-color: black;
            color: white;
            border-radius: 30px;
            padding: 40px;
            text-align: center;
            font-family: 'Blockletter', sans-serif;
        }
    </style>
    <head>
    <h1 class="px-3">Contact The Best In Texas1</h1>
        <div class="website-promo">
    <h2>Check out my website!</h2>
    <a href="http://spacemedicine.us" style="color: white; text-decoration: none;">spacemedicine.us</a>
</div>
    <div class="px-3">
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="elliott@elliottrn.com">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="staticAddress" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticAddress" value="Texas, USA">
        </div>
    </div> 
    <div class="mb-3 row">
        <label for="staticTelephone" class="col-sm-2 col-form-label">Telephone</label>
        <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticTelephone" value="555-555-5555">
        </div>
    </div> 
</div>
</html>
