{% extends 'djangoapp/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Elliott's Dealer App Project</h1>
    <p class="lead">
        Welcome to Elliott's Dealer App Project:   A comprehensive platform designed to enhance your dealer experience. 
        This application streamlines the process of finding, reviewing, and connecting with automobile dealerships. 
        Whether you're buying a new car or looking for reliable service, this app is your gateway to a hassle-free dealer experience. 
        Experience the convenience of browsing dealers, reading reviews, and making informed decisions all in one place. 
        Elliott's Dealer App is dedicated to making your automobile journey smooth and enjoyable.
    </p>
    <!-- Additional content goes here -->
</div>

 <table class="table" id="table" data-filter-control="true">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="name">Dealer Name</th>
                <th data-field="city">City</th>
                <th data-field="address">Address</th>
                <th data-field="zip">Zip</th>
                <th data-field="state" data-filter-control="select">State</th>
            </tr>
        </thead>
        <tbody>
            {% for dealer in dealership_list %}
                <tr>
                    <td>{{dealer.id}}</td>
                    <td>{{dealer.city}}</td>
                    <td>{{dealer.address}}</td>
                    <td>{{dealer.zip}}</td>
                    <td>{{dealer.st}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}
